<header class="site-header">
  <a href="{{ site.baseurl }}/" class="logo">
    <div class="cubespinner">
      <img src="{{ site.baseurl }}{{ site.logo }}" width="48" height="48" class="face1">
      <img src="{{ site.baseurl }}{{ site.logo }}" width="48" height="48" class="face2">
      <img src="{{ site.baseurl }}{{ site.logo }}" width="48" height="48" class="face3">
      <img src="{{ site.baseurl }}{{ site.logo }}" width="48" height="48" class="face4">
      <img src="{{ site.baseurl }}{{ site.logo }}" width="48" height="48" class="face5">
      <img src="{{ site.baseurl }}{{ site.logo }}" width="48" height="48" class="face6">
    </div>
  </a>

  <div class="blog-header">
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
  </div>
</header>
